.card-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card {
  align-items: center;
  background-color: wheat;
  border: 1px solid green;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 300px;
}

.card-information {
  border: 1px solid yellow;
  height: 200px;
  width: 90%;
}

.card-information img {
  height: 100%;
  width: 100%;
}
