.cardForm-container {
  background-image: url('https://besthqwallpapers.com/Uploads/5-4-2019/86291/thumb2-blue-abstract-background-neon-blue-background-abstraction-creative-blue-backgrounds.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 95vh;
}

.card-preview {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 80%;
}

.form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}
